{% extends 'base.html.twig' %}

{% block title %}MenuEspace index{% endblock %}

{% block body %}
    <h1>MenuEspace index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Prix</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for menu_espace in menu_espaces %}
            <tr>
                <td>{{ menu_espace.id }}</td>
                <td>{{ menu_espace.libelle }}</td>
                <td>{{ menu_espace.prix }}</td>
                <td>
                    <a href="{{ path('menu_espace_show', {'id': menu_espace.id}) }}">show</a>
                    <a href="{{ path('menu_espace_edit', {'id': menu_espace.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('menu_espace_new') }}">Create new</a>
{% endblock %}
